
@using MvcOnlineTicaretOtomasyonu.Models.siniflar
@model List<KargoDetay>

@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Takip Kodu</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.Tarih</td>
            <td>@k.TakipKodu</td>
            <td><a href="/CariPanel/CariKargoTakip/@k.TakipKodu" class="btn btn-info" style="background-color:Background">Detaylar</a></td>
        </tr>
    }
</table>



