
@using MvcOnlineTicaretOtomasyonu.Models.siniflar;
@model List<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>Satış Yap</th>
        @foreach (var u in Model)
        {
        <tr>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlisFiyat ₺</td>
            <td>@u.SatisFiyat ₺</td>
            <td>@u.Kategori.KategoriAD</td>
            <td>
                <a href="/Urun/UrunSil/@u.Urunid" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Urun/UrunGetir/@u.Urunid" class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/Urun/SatisYap/@u.Urunid" class="btn btn-default" style="background-color:cornflowerblue">Satış Yap</a>
            </td>
        </tr>
    }
    </table>
    <a href="/Urun/YeniUrun/" class="btn btn-info">Yeni Ürün</a>

